.category .box-container{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-top: 2rem;
  }
  .heading{
    margin-top: 2rem;
  }
  .category .box-container .box{
    border:.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    text-align: center;
    padding:3rem;
    flex:1 1 25rem;
  }
  
  .category .box-container .box img{
    width: 22rem;
    margin:.3rem 0;
  }
  
  .category .box-container .box h3{
    font-size: 3.5rem;
    color:var(--black);
  }
  
  .category .box-container .box p{
    font-size: 2rem;
    color:#666;
    padding:.5rem 0;
  }
  
  .category .box-container .box .btn{
    display: block;
  }
  